# Visual Studio
.vs/
**/.vs/

# Compilación
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Usuario de Visual Studio
*.user
*.suo

# Archivos de EF Core locales
*.db
*.db-shm
*.db-wal

# Secretos y configuración local
.env
.env.*
!.env.example
docker-compose.override.yml
appsettings.Local.json
appsettings.*.local.json
appsettings.Production.json
